black
ruff
mypy
tox
jupyterlab
pytest
pytest-snapshot
structlog
pytest-structlog
line_profiler
memory_profiler
numpy
scipy
statsmodels
openpyxl
pandas[performance]
polars
matplotlib
seaborn
fastcluster
statannotations
requests
scikit-learn
jupyterlab
ipywidgets
ipympl
streamlit
pygwalker
